  @media(min-width: 320px) and (max-width: 675px){
  .container {
    display: grid;
    width: 100%;
    height: 100%;
    margin: auto;
    grid-gap: 1%;
    /*grid-template-columns: 30% 70%;
    grid-template-rows: 18.75% 62.5% 18.75%;*/
    grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "sd sd sd main main main main main"
      "ft ft ft ft ft ft ft ft";
   }
  }



  @media(min-width: 675px) and (max-width: 1140px){
  .container {
    display: grid;
    width: 100%;
    height: 100%;
    margin: auto;
    grid-gap: 1%;
   /* grid-template-columns: 350px 1fr;
    grid-template-rows: 300px 1000px 300px;*/
    grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "sd sd sd main main main main main"
      "ft ft ft ft ft ft ft ft";
   }
  }


  @media(min-width: 1140px) {
  .container {
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    grid-gap: 1%;
    grid-template-columns:  1fr 350px;
    grid-template-rows: 150px 800px 100px;
    grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "main main main main main sd sd sd"
      "ft ft ft ft ft ft ft ft";
      }
    }
