
  @import url('https://fonts.googleapis.com/css?family=Anton|Gelasio|IM+Fell+Great+Primer+SC&display=swap');
  @import url('header.css') screen;
  @import url('sidebar.css') screen;

  @media(min-width: 320px) and (max-width: 675px){
  .container {
    display: grid;
    width: 100%;
    height: 100%;
    margin: auto;
    grid-gap: 3%;
    /*grid-template-columns: 1fr 300px;;
    grid-template-rows: 300px 1100px;*/
    grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "main main main main sd sd sd sd";
    }
  }

  @media(min-width: 675px) and (max-width: 1140px){
  .container {
    display: grid;
    width: 100%;
    height: 100%;
    margin: auto;
    grid-gap: 3%;
    /*grid-template-columns: 1fr 300px;
    grid-template-rows: 300px 1100px;*/
    grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "main main main main sd sd sd sd";
    }
  }


  @media(min-width: 1140px) {
  .container {
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    grid-gap: 3%;
   /*grid-template-columns:  1fr 350px;
    grid-template-rows: 100px 1000px ;*/
    grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "main main main main main sd sd sd";
    }
  }

  /*header{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
     align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
     grid-column: 1/4;
    grid-row: 1/2;
    font-size: 100px;
   /* grid-area: hd;*/
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
  }
   
  h1{
      align-items: center;
        
  }

  main{
    display: grid;
    grid-row:  2/3;
    grid-column: 1/2;
    grid-area: main;
  }

  main article{
    width: 100%;
  }

  #readmore{
    display: none;
  }

  button{
    background-color: green;
    border: none;
    outline: none;
    color: white;
    font-size: 1em;
    padding: 5px;
    width: 26.3vw;
    height: 8.7vh;
    justify-content: center;
    align-items: center;
  }

   /*.sidebar{
    display: grid;
     border: 1px solid black;
     grid-row:  2/3;
     grid-column: 2/3;
     text-align: center;
    background-color: gray;
    margin-right: 30px;
  /*  grid-area: sd;/*

    }
    .sidebar h2{
    justify-content: center;
    align-item: center;
    text-align: center;
  }

    .sidebar ul{
    list-style: none;
    text-align: center;
  }
    .sidebar ul li a{
    text-decoration: none;
    text-align: center;
  */
   .card{
    display: grid;
    box-shadow: 0 3px 6px 0
    rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    width: 13vw;
    height: 7vh;
    color: white;
    font-size: 1vw;
    text-align: center;
    justify-content: center;
    margin: 1%;
    padding-bottom: 50%;
  }
    
  .box1{
    width: 13vw;
    height: 9vh;
    font-size: 1vw;
    color: white;
    }


   
